.column {
    float: left;
    width: 50%;
    color: #0D4F8B;
    align-content: center;
    margin: auto auto;
    overflow: hidden;
}

body.noScroll { /* ...or body.dialogShowing */
  overflow: hidden;
}
/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    color: #0D4F8B;
    /* float: left; */
    align-content: center;
    width: 50%;
    overflow: hidden;
    /* margin: auto auto; */
}


.column1 {
    float: left;
    width: 33%;
    color: #0D4F8B;
    align-content: center;
    margin: auto auto;
}


/* Clear floats after the columns */

.row1:after {
    content: "";
    display: table;
    clear: both;
    color: #0D4F8B;
    /* float: left; */
    align-content: center;
    width: 50%;
    /* margin: auto auto; */
}

.column2 {
    float: left;
    width: 50%;
    color: #0D4F8B;
    align-content: center;
    margin: auto auto;
}


.column3 {
    float: left;
    width: 100%;
    color: #0D4F8B;
    align-content: center;
    margin: auto auto;
}


.column4 {
    float: left;
    width: 33%;
    color: #0D4F8B;
    align-content: center;
    margin: auto auto;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 300px; /* only if you want fixed height */
    }

    .center {
        text-align:center;
        }
        

        #imageHolder {
            width: 600px;
            height: 340px;
            line-height: 350px;
            padding: 0.2cm;
            background-color:#ffffff;
            border: 0.1cm solid#0D4F8B;
        }
        #imageHolder img {
            max-width: 100%;
            max-height:100%;
            display: inline-block; /* Instead of display: block; */
            /* margin: 0 auto; */
            vertical-align: middle;
           
        }

        div.image-gallery {
            display: block;
            background-color: #cccccc;
          }
          
          div.image-gallery img {
            display: block;
            float: left;
          }
          
          .clear {
            clear: both;
            height: 0;
            width: 0;
            font-size: 1px;
            line-height: 0;
          }
/* .mt-0 {
    margin-top: 0 !important;
  }
  
  .ml-1 {
    margin-left: ($spacer * .25) !important;
  }
  
  .px-2 {
    padding-left: ($spacer * .5) !important;
    padding-right: ($spacer * .5) !important;
  }
  
  .p-3 {
    padding: $spacer !important;
  } */