<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='site.css') }}">


    <!-- <script src="rnd.js"></script> -->

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <title>Paraphrasing Tool</title>

    <style>
        body {
            left: 0;
            top: 0;
            margin: 1px;
            padding: 10px;
            padding-top: 2px;
            overflow: hidden;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #800080;
            display: block;

        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
        }

        li a:hover:not(.active) {
            background-color: #9932CC;
        }

        .active {
            background-color: #FDF8FF;
        }
    </style>

</head>

<body style="background-color: #FDF8FF;">

    <ul style="position: reltive;">
        <li><a href="http://www.iitb.ac.in/" target="_blank">IIT BOMBAY</a></li>
        <li><a href="http://www.cfilt.iitb.ac.in/" target="_blank">CFILT</a></li>
        <li><a href="https://drive.google.com/file/d/1pEfr6hhlo33Ai0GC7Vtzii730JwK73IF/view?usp=sharing"
                target="_blank">PROJECT REPORT</a></li>
        <li><a href="https://github.com/markzuck24/FinalRnD.git" target="_blank"> CODE</a></li>
        <li><a href="http://www.statmt.org/wmt14/results.html" target="_blank">DATASET</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/18HucJEjLzOmeqRl_4hZXF5xYlf8ShcyL_ej0-1ZN88g/edit?usp=sharing" target="_blank">ANALYSIS</a></li>
        <li><a href="https://youtu.be/4StqCRE1nzs" target="_blank">DEMO</a></li>

        <li style="float:right"><a href="https://www.facebook.com/profile.php?id=100005741560385" target="_blank">
                Student: Aditya Jain (Contact)</a></li>
        <li style="float:right"><a href="https://www.cse.iitb.ac.in/~pb/" target="_blank">Guide: Dr. Pushpak
                Bhattacharyya</a></li>
    </ul>
    </head>
    <div class=" row ">

        <div class="column ">
            <h1 style=" text-align :center">Single Reference</h1>
            <textarea style="margin-left: 30px; border:3px solid #800080;" rows="12 " cols="70 " id="aditya">    
                Enter the sentence to be paraphrased here.
            </textarea>
        </div>
        <div class="column ">
            <h1 style="  text-align :center ">Multiple References</h1>
            <textarea style="margin-left: 30px; border:3px solid #800080;" rows="12 " cols="70 " id="output" readonly>    
                Paraphrased sentences will be displayed here.
            </textarea>
        </div>





    </div>

    <div class=" row ">
        <div class="button ">
            <button id="btn1" class="button button1 ">Paraphrase</button>
            <script>
                $(document).ready(function() {
                    $("#btn1").click(function() {
                        $.post("/play", {
                            'data': $('#aditya').val()
                        }, function(output, status) {
                            document.getElementById("output").innerHTML = output;
                        });
                    });
                });
            </script>
        </div>
        <div class="button ">
            <button id="btn2" class="button button2 ">Display</button>

            <script>
                $(document).ready(function() {
                    $("#btn2").click(function() {
                        $.post("/disp ", {
                            'data': $('#output').val()
                        }, function(output, status) {
                            document.getElementById("output").innerHTML = output;
                        });
                    });
                });
            </script>

        </div>
    </div>

    <div class=" row ">

        <div class="column ">
            <!-- <h1 style=" text-align :center ">Input Sentence</h1> -->
            <textarea style=" margin-top: 30px; margin-left: 30px;border:3px solid #800080;" rows="7 " cols="70 " id="output1" readonly>    
                BLEU scores for single reference sentence.
            </textarea>
        </div>
        <div class="column ">
            <!-- <h1 style=" text-align :center ">Paraphrased Sentences</h1> -->
            <textarea style=" margin-top: 30px; margin-left: 30px;border:3px solid #800080;" rows="7 " cols="70 " id="output2" readonly>    
                BLEU scores for multiple reference sentences.
            </textarea>
        </div>





    </div>


    <div class=" row ">
        <div class="button">
            <button id="btn3" class="button button1 ">BLEU Scores</button>
            <script>
                $(document).ready(function() {
                    $("#btn3").click(function() {
                        $.post("/blu1", {
                            'data': $('#ouptput1').val()
                        }, function(output, status) {
                            document.getElementById("output1").innerHTML = output;
                        });
                    });
                });
            </script>
        </div>

        <div class="button ">
            <button id="btn4" class="button button2 "> BLEU Scores</button>


            <script>
                $(document).ready(function() {
                    $("#btn4").click(function() {
                        $.post("/blu2", {
                            'data': $('#output2').val()
                        }, function(output, status) {
                            document.getElementById("output2").innerHTML = output;
                        });
                    });
                });
            </script>

        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>

</html>